@import "../components/_container.scss";
@import "../vars";

.header {
    @extend .container;
    height: $height10vh;
    box-shadow: 5px 5px 10px;
}

.containerLogoHamburgerMenu {
    height: $height10vh;
    width: $width25vw;
    justify-content: space-around;
    box-shadow: 5px 5px 10px;
}

.containerLogoAvatar {
    @extend .container;
    height: $height10vh;
    width: $width25vw;
    justify-content: space-around;
}

.containerSearchBox {
    width: $width50vw;
}