@import "../components/_container.scss";
@import "../vars";

.header {
    @extend .container;
    height: $height10vh;
    box-shadow: 5px 5px 10px;
}

.containerLogoHamburgerMenu {
    @extend .container;
    height: $height10vh;
    justify-content: space-around;
}
