@import "../components/_container.scss";
@import "../vars";

.header {
    @extend .container;
    height: $height10vh;
    box-shadow: 5px 5px 10px;
}

.containerLogoHamburgerMenu {
    @extend .container;
    height: $height10vh;
    justify-content: space-around;
}

.sidebar {
    background-color: $white;
    height: $height100vh;
    width: $width20vw;
    border: 1px black solid;
    button {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: center;
        border: none;
        transition: 0.4s;
    }
    ul {
        display: none;
        list-style: none;
        margin: auto;
        padding: 10px;
        li{
            &:hover {
                background-color: silver;
            }
            display: inlineBlock; 
            margin: 2px;
            padding: 10px;
            a {
                text-decoration: none;
                text-align: center;
            }
        }
    }
}
