@import "../vars";
@import "../components/_container.scss";
@import "../components/_input.scss";
@import "../components/_button.scss";

.loginContainer {
    background-image: url("../../../../public/images/login/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    background-color: $glassWhite;
    border: $borderLight;
    border-radius: 5px;
    width: 30%;
    height: 65vh;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
}

.loginBtn {
    @extend .button, .buttonLarge;
    background-color: $white;
}
