@import "vars";

.button {
    &:hover {
        border: $purpleLight solid 3px;
        outline: none;
        background-color: $white;
        cursor: pointer;
    }
    &:active {
        border: $purpleLight solid 3px;
        outline: none;
        box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    background-color: $purpleLight;
    width: 25%;
    height: 35px;
    border: $borderLight;
    border-radius: 20px;
    margin: 1%;
    padding: 1% 3%;
}

.buttonSmall {
    width: 25%;
}

.buttonMedium {
    width: 50%;
}

.buttonLarge {
    width: 75%;
}
