@import "vars";

.container {
    background-color: $white;
    width: $width100vw;
    height: $height100vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
