@import "./vars";

.input {
    &:focus {
        border: $purpleLight solid 3px;
        outline: none;
        box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    };
    width: 75%;
    height: 35px;
    border-radius: 20px;
    background-color: $white;
    border: $white solid 1px;
    margin: 2%;
    align-self: center;
}
