$primary: #d3ab55;
$white: #ffffff;
$black: #000000;

$glassWhite: rgba(255, 255, 255, 0.35);
$purpleLight: rgb(210, 153, 238);

$borderLight: 1px silver solid;
$borderDark: 1px black solid;

// view height
$height10vh: 10vh;
$height15vh: 15vh;
$height20vh: 20vh;
$height25vh: 25vh;
$height30vh: 30vh;
$height35vh: 35vh;
$height40vh: 40vh;
$height45vh: 45vh;
$height50vh: 50vh;
$height55vh: 55vh;
$height60vh: 60vh;
$height65vh: 65vh;
$height70vh: 70vh;
$height75vh: 75vh;
$height80vh: 80vh;
$height85vh: 85vh;
$height90vh: 90vh;
$height95vh: 95vh;
$height100vh: 100vh;

// view width
$width10vw: 10vw;
$width15vw: 15vw;
$width20vw: 20vw;
$width25vw: 25vw;
$width30vw: 30vw;
$width35vw: 35vw;
$width40vw: 40vw;
$width45vw: 45vw;
$width50vw: 50vw;
$width55vw: 55vw;
$width60vw: 60vw;
$width65vw: 65vw;
$width70vw: 70vw;
$width75vw: 75vw;
$width80vw: 80vw;
$width85vw: 85vw;
$width90vw: 90vw;
$width95vw: 95vw;
$width100vw: 100vw;
