$primary: #d3ab55;
$white: #ffffff;
$black: #000000;

$glassWhite: rgba(255, 255, 255, 0.35);
$purpleLight: rgb(210, 153, 238);

$borderLight: 1px silver solid;
$borderDark: 1px black solid;

$height10vh: 10vh;
$height20vh: 20vh;
$height30vh: 30vh;
$height40vh: 40vh;
$height50vh: 50vh;
$height60vh: 60vh;
$height70vh: 70vh;
$height80vh: 80vh;
$height90vh: 90vh;
$height100vh: 100vh;

$width10vw: 10vw;
$width20vw: 20vw;
$width30vw: 30vw;
$width40vw: 40vw;
$width50vw: 50vw;
$width60vw: 60vw;
$width70vw: 70vw;
$width80vw: 80vw;
$width90vw: 90vw;
$width100vw: 100vw;